<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <a class="footer__item">&copy; Made by Daria</a>
            <a class="footer__item">Check out my other projects</a>
        </section>
        <section class="right">
            <div class="footer__column">
                <a class="footer__item">Recent</a>
                <a class="footer__item" href="mailto:ddombrowski.py@gmail.com" title="Send me an email">&commat; Contact</a>
            </div>
            <div class="footer__column">
                <a class="footer__item" href="https://pathfinderwiki.com/wiki/Pathfinder_Wiki"  rel="external" target="_blank" title="Visit the PathfinderWiki">&gt; PathfinderWiki</a>
                <a class="footer__item" href="https://paizo.com/" rel="external" target="_blank" title="Visit Paizo's Homepage">&gt; Pathfinder by Paizo</a>
            </div>
        </section>
    </div>
</footer>