<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <a class="footer__item">&copy; Made by Daria</a>
            <a class="footer__item" href="mailto:ddombrowski.py@gmail.com" title="Send me an email">&commat; Contact</a>
        </section>
        <section class="right">
            <div class="footer__column">
            <a class="footer__item" href="https://github.com/Larynja">Check out my other projects</a>
            </div>

        </section>
    </div>
</footer>